html,body {

	/*background: url(../Images/bgd_02.png) top center repeat-x;*/
}
ul{
	list-style-type: none;
}
*{
	margin: 0;
	padding: 0;
}


.box {
/*position: fixed;*/
width: 100%;
  height: 100%;
  left: 0;
 background-color: #ddd;

}





.box {

}

.box img{
	width: 100%;
}
